    <section id="marketing" class="section">
		<div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title title-space">
                        <div class="bounce-in animated text-center">
                            <h2 class="section-heading animated" data-animation="bounce-inUp">PyBlox Standard Features</h2>
                        </div>
                    </div>
                </div>
            </div>
			<div class="row">
				<div class="col-lg-4">
					<div class="bounce-in animated">
						<div class="align-center">
							<div class=" rotate-in animated">
								<div class="marketing-col">
									<div class="marketing-icon">
										<figure><i class="fa fa-cog"></i></figure>
									</div>
										<h2><a href="#">Python-driven</a></h2>
										<p>Python is a powerful language for just about any programming task. Quickly learn one of the most widely used languages in the world to build complex web sites with efficiency that your customers will love.</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="align-center">
						<div class="bounce-in animated">
							<div class="rotate-in animated">
								<div class="marketing-col">
									<div class="marketing-icon">
										<figure><i class="fa fa-desktop"></i></figure>
									</div>
										<h2><a href="#">Responsive Layout</a></h2>
										<p>Responsive layout design is a must when building a modern browser supported web site. View on virtually any device using the same code base. Save countless hours of development time utilizing a mature Python Web Framework.</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="align-center">
						<div class="bounce-in animated">
							<div class="marketing-col">
								<div class="marketing-icon">
									<figure><i class="fa fa-dropbox"></i></figure>
								</div>
									<h2><a href="#">Ready for Primetime</a></h2>
									<p>PyBlox has been developed for years, so you can benefit from a mature development framework. Several database models are included with authentication and admin backoffice support.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>