<section id="thanks">
    <div class="container">
        <div class="thanks">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title title-space">
                        <div class="bounce-in animated text-center">
                            <h2 class="section-heading animated" data-animation="bounce-inUp">Thank you</h2>
                            <p>A representative will be with you momentarily.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
