/* Side Navigation */
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.sidebar-nav {
  background: #272930;
  position: absolute;
  width: 225px;
  z-index: 2;
}
.sidebar-nav .cl-toggle {
  display: none;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
}
.sidebar-nav .cl-toggle i {
  color: #C9D4F6;
}
.sidebar-nav-menu {
  margin: 0 0 0 0;
  padding: 0;
}
//.sidebar-nav-menu .parent a {
//  background: url("/images/arrow.png") no-repeat scroll right 14px top 18px transparent;
//}
.sidebar-nav-menu li a {
//  border-top: 1px solid #32353e;
//  border-bottom: 1px solid #1a1c20;
  display: block;
//  padding: 14px 18px 13px 15px;
  color: #c9d4f6;
  font-size: 12px;
  font-weight: 300;
//  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  white-space: nowrap;
}
.sidebar-nav-menu li a:hover {
  background-color: #2a2c34;
}

/*Collapsed Sidebar*/
.sidebar-collapsed .sidebar-nav {
  width: 55px;
}
.sidebar-collapsed #pcont {
  margin-left: 55px;
}
.sidebar-collapsed .sidebar-nav-menu li {
  position: relative;
}
.sidebar-collapsed .sidebar-nav-menu .parent a {
  background-image: none;
}
.sidebar-collapsed .sidebar-nav-menu li a i {
  margin: 0;
  font-size: 17px;
}
.sidebar-collapsed .sidebar-nav-menu > li > a > span {
  opacity: 0;
  width: 0;
  height: 0;
}
#sidebar.animate-collapse .sidebar-nav {
  -webkit-transition: width 300ms linear;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: width 300ms linear;
  /* Firefox 4-15 */
  -o-transition: width 300ms linear;
  /* Opera 10.50ï¿½12.00 */
  transition: width 500ms linear;
}
#sidebar.animate-collapse #pcont {
  transition: margin 500ms ease;
}
#sidebar.animate-collapse .sidebar-nav-menu li a span {
  -webkit-transition: opacity 500ms linear;
  -moz-transition: opacity 500ms linear;
  -o-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
}
#sidebar.animate-collapse .sidebar-nav-menu li a i {
  -webkit-transition: margin 500ms linear, font-size 500ms linear;
  -moz-transition: margin 500ms linear, font-size 500ms linear;
  -o-transition: margin 500ms linear, font-size 500ms linear;
  transition: margin 500ms linear, font-size 500ms linear;
}
.sidebar-nav .collapse-button {
  background: @sidebar-active-bg;
  position: fixed;
  padding: 5px;
  margin-bottom: 0;
  width: @sidebar-width;
  bottom: 0;
  border-top: 1px solid #131519;
  box-shadow: 0 1px 0 #2A2C31 inset;
}
.sidebar-nav .collapse-button .search {
  width: 200px;
  display: inline-block;
  margin: 0px;
  border-radius: 2px;
  height: @sidebar-item-height;
  background: none repeat scroll 0 0 #f6f6f6;
  font-size: 11px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.07), 0 1px 2px rgba(0, 0, 0, 0.15) inset;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.sidebar-nav .collapse-button button {
  margin: 3px;
  background: transparent;
  box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1) inset;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
.sidebar-nav .collapse-button button:hover {
  background: #23252A;
}
.sidebar-nav .current-user {
  padding: 18px 10px 10px 35px;
}
.sidebar-collapsed .sidebar-nav .current-user {
  display: none;
}
#sidebar .sidebar-nav .current-user .avatar {
  display: inline-block;
  margin-right: 3px;
}
#sidebar .sidebar-nav .current-user .avatar img {
  border-radius: 25px;
  margin-right: 5px;
}
#sidebar .sidebar-nav .current-user .profile {
  display: inline-block;
  vertical-align: middle;
}
#sidebar .sidebar-nav .current-user .profile a {
  color: #FFF;
  font-size: 14px;
  font-weight: 300;
  display: block;
  text-decoration: none;
}
#sidebar .sidebar-nav .current-user .profile span {
  color: #FFF;
  font-size: 11px;
}
#sidebar.animate-collapse .sidebar-nav .collapse-button {
  -webkit-transition: width 300ms linear;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: width 300ms linear;
  /* Firefox 4-15 */
  -o-transition: width 300ms linear;
  /* Opera 10.50 12.00 */
  transition: width 500ms linear;
}
.sidebar-collapsed .sidebar-nav .collapse-button .search {
  display: none;
}
.sidebar-collapsed .sidebar-nav .collapse-button {
  width: 55px;
}
.sidebar-collapsed .sidebar-nav-menu li.open ul {
  display: none !important;
}

#submenu-nav ul {
  color: #333;
  background: #FFF;
  padding: 5px 0;
  min-width: 225px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-top: 0;
  border-radius: 3px;
}
#submenu-nav ul li:first-child {
  padding-top: 0;
}
#submenu-nav ul li:last-child {
  padding-bottom: 0;
}
#submenu-nav ul li.dropdown-header i {
  text-align: center;
  width: 15px;
}
#submenu-nav ul li.dropdown-header {
  padding: 1px 11px;
  padding-bottom: 6px;
}
#submenu-nav ul {
  padding: 5px 0;
}
#submenu-nav ul li {
  list-style: none;
}
#submenu-nav ul li a {
  margin-right: -1px;
  display: block;
  font-size: 11px;
  border-bottom: 0;
  text-shadow: none;
  text-align: left;
  background: transparent;
  padding: 6px 20px 6px 31px;
  color: @link-hover;
  text-decoration: none;
  outline: 0 none;
}

#submenu-nav ul li a:hover {
  background-color: @link-hover;
  color: #FFF;
}

#submenu-nav ul:after {
  background: url(/img/left_arrow.png) no-repeat right 10px;
  top: 0px;
  content: "";
  display: inline-block;
  left: -9px;
  height: 43px;
  width: 10px;
  position: absolute;
}

/**********         ******************/
@media(min-width:768px) {
  #sidebar {
    ul {list-style-type: none;}
    background: @sidebar-bg;
    margin-top: -1px;
    position: fixed;
    top: @header-height;
    left: -15px;
    z-index: 998;
    height: 100% ! important;
    width: @sidebar-width + 15px;
  }

  .sidebar-nav {
    display: inline-block;
    width: 225px;
    margin-bottom: -@footer-height;
    position: absolute;
    background: @sidebar-bg;

    ul.sidebar-nav-menu > li:last-child a {
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);;
    }

    ul.sidebar-nav-menu .submenu > li:last-child a {
      border-top: 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.40);;
    }

    ul.sidebar-nav-menu .submenu > li a {
      border-top: 0;
      font-size: 12px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.40);;
    }

    ul.sidebar-nav-menu .submenu > li {
      height: 20px;
    }

    .sidebar-nav-menu {

      li {

        a {
          display: block;
          height: @sidebar-item-height;
          line-height: @sidebar-item-height;
          width: 100%;
          padding-left: @sidebar-padding-left;
          position: relative;
          text-decoration: none;
          border-top: 1px solid rgba(255, 255, 255, 0.15);
          border-bottom: 1px solid rgba(0, 0, 0, 0.4);
          color: @sidebar-font-color;
          font-size: 18px;
          font-weight: 300;
          text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);

          &.active {
            background: @sidebar-item-selected;
            border-left: 5px solid @sidebar-item-border-clr;
            border-top: 0;
            border-bottom: 0;
          }

          &:hover {
            background: @link-hover;
          }

          &.children {
            background: @sidebar-item-selected;
            height: 30px;
            line-height: 30px;
            text-shadow: none;

            &:hover {
              background: @sidebar-item-selected;
              color: @link-hover;
            }
          }

          i[class^=icon] {
            font-size: 24px;
          }

          i[class^=fa] {
            font-size: 24px;
          }

          .nav-text {
            position: absolute;
            padding-left: 22px;
          }

          .no-icon {
            position: relative;
            padding-left: 46px;
          }
        }
      }
    }
  }

  .notification {
    background: @clifford-red;
    display: inline-block;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 12px;
    position: absolute;
    left: 38px;
    top: 8px;

    small {
      position: absolute;
      left: 6px;
      top: -17px;

    }
  }

  .sidebar-content {
    width: 225px;
    background-color: @sidebar-bg;
  }

  .arrow {
    float: right;
  }

  .glyphicon.arrow:before {
    content: "\e079";
  }

  .active > a > .glyphicon.arrow:before {
    content: "\e114";
  }

  .fa.arrow:before {
    content: "\f104";
  }

  .active > a > .fa.arrow:before {
    content: "\f107";
  }

  .expand-icon {
    margin-top: 16px;
  }

  .plus-minus {
    float: right;
    margin-right: 10px;
  }

  .fa.plus-minus:before {
    content: "\f067";
  }

  .active > a > .fa.plus-minus:before {
    content: "\f068";
  }
}

.sidebar-collapse-app.collapse.in, .sidebar-collapse-app.collapsing {
  .sidebar-nav {
    left: 0px;
    z-index: 3;
  }
}

.sidebar-collapse-app.collapse.in, .sidebar-collapse-app.collapsing {
  nav > div > ul {
    padding-bottom: 10px;
    list-style-type: none;

    li {
      list-style-type: none;
        a {
          padding: 10px;
          text-decoration: none;

          &.active {
            background: @sidebar-item-selected;
            border-left: 3px solid @sidebar-item-border-clr;
            border-top: 0;
            border-bottom: 0;
          }

          &:hover {
            background: @link-hover;
          }

          &.children {
            background: @sidebar-item-selected;
            height: 30px;
            line-height: 30px;
            text-shadow: none;

            &:hover {
              background: @sidebar-item-selected;
              color: @link-hover;
            }
          }
        }
    }
  }
}
