<div class="col-lg-12 dash-header">
    <h1 class="page-header">
        Dashboard<small> Statistical Analysis</small>
    </h1>
    <h3>Administration</h3>
    <ng-include ng-if="error_message" src="'/views/admin/notice.html'"></ng-include>
    <section dashboard class="row">
        <div id="col-l" class="dashboard col-xs-12 col-sm-8 col-md-8 col-lg-8 column">
            <div class="dashlet dashlet-color" id="dashlet-1">
                <header class="dashlet-header">
                    <h2>Header Title of Dashlet 1</h2>
                    <div class="dashlet-controls">
                        <a href="javascript:void(0);" class="dashlet-delete-btn"><i class="fa fa-lg fa-times"></i></a>
                        <a href="javascript:void(0);" class="dashlet-minimize-btn"><i class="fa fa-lg fa-minus"></i></a>
                    </div>
                </header>
                <div>
                    <div class="dashlet-content">
                        <h3 class="alert alert-info"> Alert from the dashlet body! </h3>
                    </div>
                </div>
            </div>
        </div>

        <div id="col-r" class="dashboard col-xs-4 col-sm-4 col-md-4 col-lg-4 column">
            <div class="dashlet dashlet-color" id="dashlet-2">
                <header class="dashlet-header">
                    <span class="dashlet-icon"><i class="fa fa-bar-chart-o"></i></span>
                        <h2 class="dashlet-title">Header Title of Dashlet 2</h2>
                        <ul class="nav nav-tabs pull-right in">
                            <li class="">
                                <a show-tab data-toggle="tab" href="#tab1"> <i class="fa fa-lg fa-bar-chart"></i>
                                    <span class="hidden-mobile hidden-tablet"> Chart</span></a>
                            </li>
                            <li class="active">
                                <a show-tab data-toggle="tab" href="#tab2">
                                    <span class="hidden-mobile hidden-tablet"> Other</span>
                                </a>
                            </li>
                        </ul>
                    <!--<span class="dashlet-loading"><i class="fa fa-refresh fa-spin"></i></span>-->
                </header>
                <div>
                    <div class="dashlet-content">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        This is tab 1 content.
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab2">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        This is tab 2 content.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>